.alert {
  padding: 0.75rem 1.25rem;
  color: var(--mainWhite);
  text-align: center;
  margin: 1rem auto 1rem auto;
  border-radius: 2px;
}
.alert-danger {
  background-color: var(--mainRed);
}
.alert-success {
  background-color: var(--mainGreen);
}
